BODY
{
 
	}

.grid 
{ 
	font-family:Tahoma;
}
.grid H2 
{ 
	margin:0; padding:0; 
	color:#ffffff;
	height:20px;
	line-height:20px;
	font-size:11px;
}
.grid .mid
{
	padding:3px 0px 0px 0px;
}
.grid .datatable
{
/* color:#666; */
 color:#0066cc;

   
}        
.grid .datatable TH
{
   
   /*  background:url(../Images/tm.gif) repeat; */
    background-color:steelblue;  
    border-color: #014569 #014569 #014569 #014569;
    border-style: solid solid solid solid;
    border-width: 1px 1px 1px 1px;
    color:white;
    padding: 4px 4px 4px 6px;
    vertical-align: bottom;
    text-align:center ;
    font-size:11px;
    font-weight:bold;
    letter-spacing:0px;
    
   
   
}

.grid .datatable TD
{
   font-size:12px;
   padding:4px 4px;
  
   
} 
.TabularData
{
   font-size:12px;
   padding:2px 2px;
   border:solid 1px #bbd9ee;
}     

.hlink
{
	font-family: Tahoma;
	color:steelblue;
	font-size:11px;
	font-weight:bold;
} 
.linkb
{
	font-family: Tahoma;
	color:steelblue;
	font-size:11px;
	font-weight:bold;
}   
.MsgErrorLegend
{
	 font-family:Tahoma;
	 font-size:11px;
	 color:#116fb7;   
	 font-weight:bold; 	
	 clear:both;
	 padding:8px 15px;
	border:solid 1px #bbd9ee;
}
.radio
{
	border: solid 0px  #014569; 
	background-color:aliceblue;
	margin-top: 10px !important;
	margin-left: 0px !important;
	font-size:12px !important;
}
.ValidatorError
{
	 font-family:Tahoma;
	 font-size:11px;
	 color:#ff0066 ;   
	 font-weight:normal; 	
}
.MsgErrorLabel
{
	 font-family:Tahoma;
	 font-size:11px;
	 color:red;    
     font-weight:bold; 	
}
.MsgLabel
{
	 font-family:Tahoma;
	 font-size:12px;
	 color:#0066cc;
     font-weight:bold; 	
}
.MsgLabelbold
{
	 font-family:Tahoma;
	 font-size:13px;
	 color:steelblue;    
     font-weight:bold; 	
}
.Msghint
{
	 font-family:Tahoma;
	 font-size:11px;
	 color:maroon;    
     font-weight:normal; 	
}

.Msgetalic
{
	  
	 font-size:12px;
	 color:maroon;   
	 font-weight:normal; 
    
}

.Msg
{
	  
	 font-family:Tahoma;
	 font-size:12px;
	 color:maroon;   
	 font-weight:normal; 
     background-color:whitesmoke;
	 	
}
.modalBackgroundSimple
        {
	        filter:alpha(opacity=60);
	        opacity:0.60;         
        }
.modalBackgroundGray 
        {
	        background-color:Gray;
	        filter:alpha(opacity=60);
	        opacity:0.60;         
        }
.modalBackground 
        {
	        background-color:Gray;
	        filter:alpha(opacity=60);
	        opacity:0.60;         
        }
 .updateProgressMessage
        {
            margin:3px; 
            font-family:Trebuchet MS; 
            font-size:small; 
            vertical-align: middle;
        }
        
 .updateProgress
        {
            border-width:1px; 
            border-style:solid; 
            background-color:#FFFFFF; 
            position:absolute; 
            width:130px; 
            height:50px;    
  
        }
.footer
 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #2572A0; FONT-FAMILY: verdana; TEXT-ALIGN:justify; TEXT-DECORATION: none; 
}
.footer_2
{
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #575757; FONT-FAMILY: verdana; TEXT-ALIGN:Center; TEXT-DECORATION: none; 
}

.style1 
{ 
	color: #2572a0;
	font-family:Tahoma;
    font-size:12px; 
} 





.frame
{
	position:absolute;
    font-family:verdana,helvetica,clean,sans-serif;
    font-size:small;  
    padding:3px 3px;
    width:350px;
}

.overlay
{  
    border:solid 3px #bde1fb;
   
    border-radius:4px;
}

.overlay2
{  
    background:url(../Images/pop-up_border.png);
    padding:10px;
    border-radius:5px;
} 
 

.underlay
{
    position:absolute;
    background-color:#000;
    bottom:-1px;
    filter:alpha(opacity=12);
    left:-1px;
    right:-1px;
    top:3px;
    z-index:-1;
}

.header
{
    cursor:move; /* Because the DragPanelExtender doesn't do this for me ;( */
    background: url(../Images/sprite.png) repeat-x 0px -200px;	
    color:#0066cc;   
	font-weight:bold; 		
    border-bottom:solid 1px #ccc;
    padding: 2px 4px;
    font-size:12px !important;
} 

.header .msg
{
    font-weight: bold;
}         

.updating, .body
{
    background-color:aliceblue;
    padding:3px 2px;
    font-size:11px;
	color:#2b6199; 
   
}

.body2
{
    padding:3px 8px; 
    }
.updating
{
	color:#808080;
	background:#fff url(../Images/activity.gif) no-repeat center;
} 


/*
.close
{
    right: 7px;	
    background: url(../Images/sprite.png) no-repeat 0px -300px;	
    width: 25px;	
    cursor: pointer;	
    position: absolute;	
    top: 7px;	
    height: 15px;
}
 
 .close2
{
    right: 10px;	
    background: url(../Images/sprite.png) no-repeat 0px -300px;	
    width: 25px;	
    cursor: pointer;	
    position: absolute;	
    top: 15px;	
    height: 15px;
}  
*/

.close
{
    right: 5px;	
    background: url(../Images/sprite_close.png) no-repeat 0px 0px;	
    width: 63px;	
    cursor: pointer;	
    position: absolute;	
    top: 3px;	
    opacity: 1;
    height: 23px;
}  
 
.close2
{
    right: 10px;	
    background: url(../Images/sprite_close.png) no-repeat 0px 0px;	
    width: 63px;	
    cursor: pointer;	
    position: absolute;	
    top: 10px;	
    height: 23px;
} 
.gridv { font-size:11px;  border-top:solid 1px #bbd9ee !important; border-right:solid 1px #bbd9ee !important; margin:0 auto;}
.gridv td { padding:5px 3px;   border-left:solid 1px #bbd9ee; border-bottom:solid 1px #bbd9ee; color:#414141; text-align:left; }
.gridv th { padding:8px 3px; background:#1B7FBD ; border-right:solid 1px #bbd9ee; border-top:0 !important;  font-weight:bold; text-align:left; color:#f1f9ff;  }
.gridv th a { color:#fff !important;}
   
   

.ballondiv 
{
    background-color:aliceblue;
    padding:2px 2px;
    font-size:11px;
	color:#2b6199;
	border: solid 2px #b8e5ff;
	border-radius: 8px;
	 }